<%- include('../../partials/menu', { user }) %>

<h1>Detalhes do Usuário</h1>

<ul>
  <li><strong>ID:</strong> <%= usuario.id %></li>
  <li><strong>Nome:</strong> <%= usuario.name %></li>
  <li><strong>Email:</strong> <%= usuario.email %></li>
  <li><strong>Role:</strong> <%= usuario.role %></li>
</ul>

<a href="/users/<%= usuario.id %>/edit"><button>Editar</button></a>

<%- include('../../partials/footer') %>
