<%- include('../partials/menu', { user }) %>

<div class="form-wrapper">
  <h1>Editar Tarefa</h1>

  <form action="/my-tasks/<%= task.id %>?_method=PUT" method="POST">
    <label for="title">Título:</label>
    <input type="text" name="title" id="title" value="<%= task.title %>" required>

    <label for="description">Descrição:</label>
    <textarea name="description" id="description"><%= task.description %></textarea>

    <label for="status">Status:</label>
    <select name="status" id="status">
      <option value="PENDING" <%= task.status === 'PENDING' ? 'selected' : '' %>>PENDING</option>
      <option value="RUNNING" <%= task.status === 'RUNNING' ? 'selected' : '' %>>RUNNING</option>
      <option value="COMPLETED" <%= task.status === 'COMPLETED' ? 'selected' : '' %>>COMPLETED</option>
      <option value="FAILED" <%= task.status === 'FAILED' ? 'selected' : '' %>>FAILED</option>
    </select>

    <button type="submit" class="btn-primary">Atualizar</button>
    <a href="/my-tasks" class="btn-primary">⬅ Voltar</a>
  </form>
</div>

<%- include('../partials/footer') %>
