<%- include('../partials/header') %>
<%- include('../partials/menu', { user }) %>


<h1>Detalhes da Tarefa</h1>

<ul>
  <li><strong>ID:</strong> <%= task.id %></li>
  <li><strong>Título:</strong> <%= task.title %></li>
  <li><strong>Descrição:</strong> <%= task.description %></li>
  <li><strong>Status:</strong> <%= task.status %></li>
</ul>

<a href="/tasks/<%= task.id %>/edit"><button>Editar</button></a>

<%- include('../partials/footer') %>
