<%- include('../../../partials/header') %>
<%- include('../../../partials/menu', { user }) %>


<h2>Associar nova tarefa ao usuário <%= user.name %></h2>

<form action="/users/<%= user.id %>/tasks" method="POST">
  <label for="title">Título:</label>
  <input type="text" name="title" required><br>

  <label for="description">Descrição:</label>
  <textarea name="description"></textarea><br>

  <label for status="status">Status:</label>
  <select name="status">
    <option value="PENDING">PENDING</option>
    <option value="RUNNING">RUNNING</option>
    <option value="COMPLETED">COMPLETED</option>
    <option value="FAILED">FAILED</option>
  </select><br>

  <button type="submit">Associar Tarefa</button>
</form>

<a href="/users/<%= user.id %>/tasks">⬅ Voltar</a>

<%- include('../../../partials/footer') %>
