<%- include('../partials/header') %>

<h1>Cadastro realizado com sucesso!</h1>
<p>Bem-vindo, <%= name %>!</p>
<p>Email: <%= email %></p>
<p>Função: <%= role %></p>
<a href="/login">Ir para login</a>

<%- include('../partials/footer') %>
