<%- include("../partials/header") %>

<h1><%= title %></h1>

<p><strong>Nome:</strong> <%= usuario.name %></p>
<p><strong>Email:</strong> <%= usuario.email %></p>
<p><strong>Função:</strong> <%= usuario.role %></p>

<a href="/users">Voltar</a>

<%- include("../partials/footer") %>